.dialogBoxWrapper {
  width: 100%;
  min-height: 25%;
  border: 3px solid;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

.dialogBoxWrapper p {
  font-family: 'Open Sans', sans-serif;
}

.characterName {
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
}

.characterNameBox {
  position: absolute;
  border: 3px solid;
  border-radius: 2px;
  padding: 10px;
  background-color: white;
  z-index: 2;
  top: -40px;
}

.text {
  font-size: 30px;
  margin-top: 20px;
}